<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Grab</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#!">N</a></li>
            <li><a href="#!">P</a></li>
            <li><a href="#!">R</a></li>
            <li><a href="#!">U</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#!">N</a></li>
    <li><a href="#!">P</a></li>
    <li><a href="#!">R</a></li>
    <li><a href="#!">U</a></li>
</ul>

<ul class="restaurants">
    {{#each restaurants}}
    <li class="restaurants-item">
        <img src="{{this.img}}" class="restaurants-item-image" alt="">
        <div class="restaurants-item-name">{{this.name}}</div>
        <small class="restaurants-item-type">{{this.type}}</small>
    </li>
    {{/each}}
</ul>ห